[user]
	signingkey = F55FEE1F
	email = dom.hutton@gmail.com
	name = Dom Hutton
[commit]
	gpgsign = true
[alias]
	up = pull --rebase --autostash && git submodule update --init --recursive
	undo = reset HEAD~1 --mixed
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	set-upstream = \
       !git branch \
           --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
    tool = intellij
[mergetool]
	keepBackup = false
[mergetool "intellij"]
    cmd = /home/dom/.local/bin/goland merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[diff]
    tool = intellij
[difftool "intellij"]
    cmd = /home/dom/.local/bin/goland diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
	trustExitCode = true
[push]
	default = current
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
