[user]
	signingkey = F55FEE1F
	email = dom.hutton@gmail.com
	name = Dom Hutton
[commit]
	gpgsign = true
[alias]
	up = pull --rebase --autostash
[pull]
	rebase = true
[rebase]
	autoStash = true
[mergetool]
	keepBackup = false
	trustExitCode = false
	keepTemporaries = false
[mergetool "vscode"]
	cmd = "code --disable-gpu --wait -"
[mergetool "idea"]
    cmd = /usr/local/bin/idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    
[merge]
	tool = idea
[difftool]
	trustExitCode = false
[difftool "vscode"]
	cmd = "code --disable-gpu --wait --diff -"
[difftool "idea"]
	cmd = /usr/local/bin/idea merge \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = idea
[push]
	default = current
