[user]
	signingkey = F55FEE1F
	email = dom.hutton@gmail.com
	name = Dom Hutton
[commit]
	gpgsign = true
[alias]
	up = pull --rebase --autostash
[pull]
	rebase = true
[rebase]
	autoStash = true
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[merge]
	tool = vscode
[push]
	default = current
